.profile {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  display: block;
  width: 100px;
  border-radius: 50%;
}

.name {
  margin: 5px 0;
  font-weight: bold;
}

.tag,
.location {
  margin: 5px 0;
  color: rgb(87, 86, 86);
}

.stats {
  background-color: #f3f6f9;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 20px 0;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: rgb(87, 86, 86);
  margin-bottom: 5px;
}

.quantity {
  font-weight: bold;
}
